*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: maroon;
    background-color: lavender;
    font-family: 'Times New Roman', Times, serif;
}

#gameName{
    font-size: 35px;
    margin: 40px 0 10px 0;
    font-weight: 900;
}
#person,
#person2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
}
#pleyer_One_input,
#pleyer_One_input2{
    height: 40px;
    width: 400px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid maroon;
    outline: none;
    display: block;
    margin: auto;
   margin-top: 10px;
}
#start_btn,
#Guess2{
    height: 42px;
    width: 150px;
    background-color: maroon;
    color: white;
    font-size: 20px;
    outline: none;
    border: 0;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#start_btn:hover{
    background-color: darkred;
}
input::placeholder{
    font-size: 18px;
   
}
#input_err,
#input_err2{
    color: red;
    margin-top: 5px;
}
#pleyer_Two{
   display: none;
}
#chance{
    margin-top: 10px;
}